<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="controller.js"> </script>
		<meta charset="utf-8"/>
	</head>
	<body ng-app="crudComBD" ng-controller="controlador">
		<div class="container-fluid" data-ng-init="consultaProjetos_Usuario()">
			<h2> Controle de Projetos </h2>
			<table class="table"> <!-- tabela -->
				<tr> <!-- table row (nova linha)--> 
					<!-- table header (célula de cabeçalho)-->
					<th> ID Projeto</th>
					<th> ID Usuário</th>
					<th> Nome </th> 
					<th> Descrição </th> 
					<th> Data Inicio </th> 
					<th> Data Entrega </th> 
					<th> FG Ativo </th> 
				</tr>
				<tr ng-repeat="projeto in listaProjetos">
					<td> {{projeto.id_projeto}} </td> 
					<td> {{projeto.id_usuario}} </td> 
					<td> {{projeto.nome}} </td> 
					<td> {{projeto.descricao}} </td> 
					<td> {{projeto.data_inicio}} </td> 
					<td> {{projeto.data_entrega}} </td> 
					<td> {{projeto.fg_ativo}} </td> 
					<td> 
						<a href="#" ng-click="finalizarProjeto(projeto.id_projeto)"> Finalizar</a> 
						||
						<a href="#" ng-click="removerProjeto(projeto.id_projeto)"> Remover </a> 
						||
						<a href="#" ng-click="preparaAtualizarProjeto(projeto.id_projeto)"> Editar </a> 
						||
						<a href="#" ng-click="mostrarTarefas(projeto.id_projeto)"> Mostrar Tarefas</a> 
					</td>
				</tr>
			</table>
			<h2> Informações do Projeto</h2>

			<br/>ID Usuário<input type="number" class="form-control" ng-model="projeto.id_usuario"/>
			<br/>Nome <input type="text" class="form-control" ng-model="projeto.nome"/>	
			<br/>Descrição <input type="text" class="form-control" ng-model="projeto.descricao"/>	
			<br/>Data Início<input type="text" class="form-control" ng-model="projeto.data_inicio"/>	
			<br/>Data Entrega<input type="text" class="form-control" ng-model="projeto.data_entrega"/>	
			<br/>

			<button type="button" class="btn btn-info" ng-click="inserirProjeto()"> Inserir </button>
			<button type="button" class="btn btn-info" ng-click="atualizarProjeto()"> Atualizar </button>

			</div>
	</body>
</html>
