<!DOCTYPE html>
<html>
	<head>
		<script src="E:\TISI\">
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bootstrap.min.css">
		<script src="jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
		
		<meta charset="utf-8"/>
	</head>
	<!--<body ng-app="crudSemBD" ng-controller="controlador">-->
		<div class="container-fluid">
			<h2> Projetos </h2>
			<table class="table"> <!-- tabela -->
				<tr> <!-- table row (nova linha)--> 
					<!-- table header (célula de cabeçalho)-->
					<th> ID </th>
					<th> Nome do Projeto </th> 
					<th> Objetivos </th>
					<th> Descrição do Projeto </th> 
					<th> Data de Inicio </th> 
					<th> Data de Entrega  </th>
					<th> Data de Termino  </th>
				</tr>
				<tr ng-repeat="produto in listaProdutos">
					<td> {{projetos.id}} </td> 
					<td> {{projetos.nome}} </td>
					<td> {{projetos.objetios}} </td> 
					<td> {{projetos.descricao}} </td> 
					<td> {{projetos.inicio}} </td>
					<td> {{projetos.entrega}} </td>
					<td> {{projetos.termino}} </td>
					<td> 
						<a href="#" ng-click="remover(projetos.id)"> Remover </a> 
						||
						<a href="#" ng-click="atualizar(projetos.id)"> Atualizar </a> 
					</td>
				</tr>
			</table>
			<h2> Informações do Projeto </h2>
				Id <input type="text" class="form-control" ng-model="id"/>
			<br/>Nome <input type="text" class="form-control" ng-model="nome"/>	
			<br/>Objetivos <input type="text" class="form-control" ng-model="objetivos"/>	
			<br/>Descrição <input type="text" class="form-control" ng-model="descricao"/>	
			<br/>Data de Inicio <input type="text" class="form-control" ng-model="inicio"/>
			<br/>Data de Entrega<input type="text" class="form-control" ng-model="entrega"/>
			<br/>Data de Termino <input type="text" class="form-control" ng-model="termino"/>
			<br/>
			<button type="button" class="btn btn-info" ng-click="inserir()"> Inserir </button>
			<button type="button" class="btn btn-info" ng-click="alterar()"> Atualizar </button>
			<script>
				var app = angular.module('crudSemBD', []);
				app.controller('controlador', 
					function($scope) {
						// criar uma estrutura de dados JSON
						$scope.listaProjetos = [
							{id:0001, nome:Faculdade, objetivos: xxxx, Descrição: xxxx, Data_de_Inicio: xxxx,Data_de_entrega: xxxx,Data_de_termino:xxxx}
							];
						// insere na lista
						$scope.inserir = function(){
							// adiciona novo produto em listaProdutos
							$scope.listaProjetos.push(
								{id: $scope.id,
								 nome: $scope.nome,
								 descricao: $scope.descricao,
								 objetivos: $scope.objetivos,
								 descricao: $scope.descricao,
								 inicio: $scope.inicio,
								 entrega: $scope.entrega,
								 termino: $scope.termino
								}
							);
						}
						// remove da lista
						$scope.remover = function(id){
							var resposta = confirm("Confirma a exclusão deste elemento?");
							if (resposta == true){
								var posicao = retornaIndice(id);
								$scope.listaProjetos.splice(posicao, 1);
							}
						};
						// atualiza um produto
						$scope.atualizar = function(id){
							var posicao = retornaIndice(id);
							$scope.id = $scope.listaProjetos[posicao].id;
							$scope.nome = $scope.listaProjetos[posicao].nome;
							$scope.objetivos = parseFloat($scope.listaProjetos[posicao].objetivos);
							$scope.descricao = parseFloat($scope.listaProjetos[posicao].descricao);
							$scope.inicio = parseFloat($scope.listaProjetos[posicao].inicio);
							$scope.entrega = parseFloat($scope.listaProjetos[posicao].entrega);
							$scope.termino = parseFloat($scope.listaProjetos[posicao].termino);
						}
						// editar o produto
						$scope.alterar = function(){
							// recupera o índice do produto para alterar
							var indice = retornaIndice($scope.codigo);
							if (indice != -1){
								$scope.listaProjetos[indice].nome = $scope.nome;
								$scope.listaProjetos[indice].objetivos = $scope.objetivos;
								$scope.listaProjetos[indice].descricao = $scope.descricao;
								$scope.listaProjetos[indice].inicio = $scope.inicio;
								$scope.listaProjetos[indice].entrega = $scope.entrega;
								$scope.listaProjetos[indice].termino = $scope.termino;
							}
						}
						// função que retorna a posição de um produto pelo seu código 
						function retornaIndice(id){
							var i;
							for (i=0;i<$scope.listaProjetos.length;i++){
									if ($scope.listaProjetos[i].id == id){
										return i; // retorna posição do produto desejado
									}
							}
							return -1;
						}
						
					}
				);
			</script>
			</div>
	</body>
</html>