<h1 style=" text-align: center;font-size: 65px;">Meus Projetos</h1>
<div class="container">
    <div class="col-sm-12">

        <div class="bs-calltoaction bs-calltoaction-default" ng-repeat="projeto in listaProjetos">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">{{ projeto.nome }}</h1>
                    <div class="cta-desc">
                        {{ projeto.descricao }}
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-default">Ver</a>
                </div>
             </div>
        </div>

    </div>
</div>
